<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="posts">
        <img src="<%=post.image_path%>">
        <br>
        <%= post.post_title>
        <br>
        <%=post.post_text>
      </div>
      <div class="comments">
        <form action="/addcomment" method="POST" id="addcomment">
          <h3><%= locals.name ? name : 'stranger'; %></h3>
          <input
            type="hidden"
            name="name"
            id="name"
            value="<%= locals.name ? name : 'stranger'; %>"
          />
          <textarea
            name="comment"
            id="comment"
            cols="30"
            rows="10"
            placeholder="Your comment"
          ></textarea>
          <button type="submit">Add Comment</button>
        </form>
        
        <h3>Comments:</h3>
        <div id="comments"><%= locals.comments ? comments : ''; %></div>
        </form>
      </div>

  </body>
</html>
